<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <!-- avatar -->
  <div class="sidebar-logo" style="align:center">
      <img src="{{ site.baseurl }}/public/avatar.png" alt="phillip t.emmons avatar"/>
  </div>
  
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>
  
  <div>
    <p>
     <!-- Add font awesome icons -->
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-pinterest"></a>
      <a href="#" class="fa fa-snapchat-ghost"></a>
      <a href="#" class="fa fa-skype"></a>
      <a href="#" class="fa fa-android"></a>
      <br><a href="#" class="fa fa-dribbble"></a>
      <a href="#" class="fa fa-vimeo"></a>
      <a href="#" class="fa fa-tumblr"></a>
      <a href="#" class="fa fa-vine"></a>
      <a href="#" class="fa fa-foursquare"></a>
      <a href="#" class="fa fa-stumbleupon"></a>
      <a href="#" class="fa fa-flickr"></a>
      <a href="#" class="fa fa-yahoo"></a>
      <a href="#" class="fa fa-reddit"></a>
      <a href="#" class="fa fa-rss"></a>
    </p>
  </div>
  
  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
